<h1>XGBoost.</h1><br>
WIP

In [14]:
import pandas as pd
from sklearn.model_selection import train_test_split
from xgboost import XGBRegressor
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_absolute_error

df=pd.read_csv('..//Datasets/Housing.csv')
df

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [15]:
le=LabelEncoder()
df.basement=le.fit_transform(df.basement)
df.mainroad=le.fit_transform(df.mainroad)
df.guestroom=le.fit_transform(df.guestroom)
df.airconditioning=le.fit_transform(df.airconditioning)
# alternative
# df['basement'] = df['basement'].replace({"no": "0"})
# df['basement'] = df['basement'].replace({"yes": "1"})
dropping_cols=['price','hotwaterheating','prefarea','furnishingstatus']
X=df.drop(dropping_cols,axis=1)
y=df.price

In [185]:
X_train, X_valid, y_train, y_valid = train_test_split(X, y)
model=XGBRegressor(n_estimators=1000,learning_rate=0.05,n_jobs=6,early_stopping_rounds=5)
model.fit(X_train,y_train,eval_set=[(X_valid,y_valid)], verbose=False)

predictions = model.predict(X_valid)
print("Mean Absolute Error: " + str(mean_absolute_error(predictions, y_valid)))

Mean Absolute Error: 783181.5729927007

Aye the dataset is a bit weird and the results confirm that.